/* Primary Colors */
$binghamton-green: #005a43;  /* Official green */
$binghamton-grey: #5d5d5d;   /* Official grey */

/* Secondary Colors */
$binghamton-green-light: #73ba9b;
$binghamton-green-dark: #00442f;